[submodule "velma_core_ve_body"]
	path = velma_core_ve_body
	url = ../velma_core_ve_body.git
[submodule "velma_core_cs"]
	path = velma_core_cs
	url = ../velma_core_cs.git
[submodule "velma_core_cs_task_cs_msgs"]
	path = velma_core_cs_task_cs_msgs
	url = ../velma_core_cs_task_cs_msgs.git
[submodule "velma_core_cs_ve_body_msgs"]
	path = velma_core_cs_ve_body_msgs
	url = ../velma_core_cs_ve_body_msgs.git
[submodule "velma_core_ve_body_re_body_msgs"]
	path = velma_core_ve_body_re_body_msgs
	url = ../velma_core_ve_body_re_body_msgs.git
[submodule "velma_task_cs_ros_interface"]
	path = velma_task_cs_ros_interface
	url = ../velma_task_cs_ros_interface.git
