<?xml version="1.0"?>
<launch>
  <arg name="LOG_LEVEL" default="Info"/>
  <arg name="debug" default="false"/>

  <arg unless="$(arg debug)" name="LAUNCH_PREFIX" value=""/>
  <arg     if="$(arg debug)" name="LAUNCH_PREFIX" value="gdb -ex run --args "/>

  <node
    launch-prefix="$(arg LAUNCH_PREFIX)"
    name="velma_lwr_sim_l"
    pkg="subsystem_deployer" type="deployer"
    args="--DeployerName velma_lwr_sim_l -l $(arg LOG_LEVEL) -x $(find velma_lwr_sim)/config/velma_core_re_lwr_l.xml -m velma_lwr_sim --" output="screen">
<!--    <env name="LD_PRELOAD" value="libmalloc_hook.so" />-->
  </node>

  <group ns="velma_lwr_sim_l">
    <rosparam>
      LWRSim:
        init_joint_positions: [0,1.57,-1.57,-1.57,0,1.57,0]
    </rosparam>
  </group>
</launch>
