<?xml version="1.0"?>
<launch>
  <node
    name="show_reachability_range_right"
    pkg="rcprg_ros_utils" type="reachability_range.py" output="screen">
      <rosparam param="visualization_mode">icosphere</rosparam>
      <rosparam param="inner_size">0.75</rosparam>
      <rosparam param="outer_size">1.65</rosparam>
      <rosparam param="marker_namespace">right</rosparam>
      <rosparam param="frame_id">right_arm_2_link</rosparam>
      <rosparam param="color_r">0</rosparam>
      <rosparam param="color_g">1</rosparam>
      <rosparam param="color_b">0</rosparam>
  </node>

  <node
    name="show_reachability_range_left"
    pkg="rcprg_ros_utils" type="reachability_range.py" output="screen">
      <rosparam param="visualization_mode">icosphere</rosparam>
      <rosparam param="inner_size">0.75</rosparam>
      <rosparam param="outer_size">1.65</rosparam>
      <rosparam param="marker_namespace">left</rosparam>
      <rosparam param="frame_id">left_arm_2_link</rosparam>
      <rosparam param="color_r">1</rosparam>
      <rosparam param="color_g">0</rosparam>
      <rosparam param="color_b">0</rosparam>
  </node>
</launch>
