<?xml version="1.0"?>
<launch>
  <node
    name="publish_velma_kinect_frustrum"
    pkg="rcprg_ros_utils" type="publish_camera_frustrum.py" output="screen">
    <param name="horizontal_fov" value="1.047" />
    <param name="aspect_w_h" value="1.33333" />
    <param name="min_z" value="0.5" />
    <param name="max_z" value="3.0" />
    <param name="frame_id" value="head_kinect_rgb_optical_frame" />
  </node>
</launch>
