<?xml version="1.0"?>
<launch>
  <node name="termtitle_velma_system" pkg="rcprg_ros_utils" type="termtitle.py" output="screen"
    args="velma_system" />

  <arg name="ORO_LOGLEVEL" default="3"/>

  <include file="$(find velma_sim)/launch/velma_sim_re.launch" >
  </include>
  <include file="$(find velma_lwr_sim)/launch/velma_sim_re_lwr_r.launch" >
  </include>
  <include file="$(find velma_lwr_sim)/launch/velma_sim_re_lwr_l.launch" >
  </include>
  <include file="$(find velma_core_ve_body)/launch/velma_core_ve_body.launch" >
    <arg name="ORO_LOGLEVEL" value="$(arg ORO_LOGLEVEL)" />
  </include>
  <include file="$(find velma_core_cs)/launch/velma_core_cs.launch" >
    <arg name="ORO_LOGLEVEL" value="$(arg ORO_LOGLEVEL)" />
    <arg name="load_robot_description" value="true" />
  </include>
  <include file="$(find velma_task_cs_ros_interface)/launch/velma_task_cs_ros_interface.launch" >
    <arg name="ORO_LOGLEVEL" value="$(arg ORO_LOGLEVEL)" />
  </include>

</launch>
