<?xml version="1.0"?>
<launch>
<!--  <arg name="LOG_LEVEL" default="Error"/>-->
  <arg name="ORO_LOGLEVEL" default="3"/>
  <arg name="debug" default="false"/>
  <arg name="cset" default="false"/>
  <arg name="load_robot_description" default="false"/>
  <arg name="valgrind" default="false"/>

  <arg unless="$(arg cset)"  name="CSET_LAUNCH_PREFIX" value=""/>
  <arg     if="$(arg cset)"  name="CSET_LAUNCH_PREFIX" value="cset proc -s user -e --"/>

  <arg unless="$(arg debug)" name="LAUNCH_PREFIX" value=""/>
  <arg     if="$(arg debug)" name="LAUNCH_PREFIX" value="gdb -ex run --args "/>

  <arg unless="$(arg valgrind)" name="LAUNCH_PREFIX_2" value=""/>
  <arg     if="$(arg valgrind)" name="LAUNCH_PREFIX_2" value="valgrind --leak-check=yes "/>

  <node
    name="velma_core_cs"
    pkg="subsystem_deployer"
    type="deployer"
    launch-prefix="$(arg CSET_LAUNCH_PREFIX) $(arg LAUNCH_PREFIX_2) $(arg LAUNCH_PREFIX)"
    args="--DeployerName velma_core_cs -x $(find velma_core_cs)/config/velma_core_cs_transition.xml -m velma_core_cs -p 30 -c 1 --"
    output="screen">
    <env name="ORO_LOGLEVEL" value="$(arg ORO_LOGLEVEL)"/>
    <!-- <env name="LD_PRELOAD" value="librtt_malloc_hook.so" /> -->
  </node>

  <group if="$(arg load_robot_description)">
    <!-- upload robot description -->
    <include file="$(find velma_description)/launch/upload_robot.launch" >
      <arg name="load_velma_sim_gazebo" value="false"/>
      <arg name="use_dh_compatible_model" value="false"/>
      <arg name="use_left_optoforces" value="false"/>
      <arg name="use_right_optoforces" value="false"/>
      <arg name="mobile_base" value="false"/>
      <arg name="use_gpu_ray" value="false"/>
      <arg name="collision_detector" value="dart"/>
      <arg name="use_kinect" value="true"/>
      <arg name="use_stereo_pair" value="true"/>
    </include>
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="rob_st_pub" >
      <param name="use_tf_static" value="true"/>
    </node>
  </group>

  <!-- <param name="/use_sim_time" value="false" /> -->

  <rosparam command="load" ns="velma_core_cs/wcc_l" file="$(find velma_common)/config/wcc_l.yaml" />
  <rosparam command="load" ns="velma_core_cs/wcc_r" file="$(find velma_common)/config/wcc_r.yaml" />
  <rosparam command="load" ns="velma_core_cs/ColDetWrL" file="$(find velma_common)/config/wcc_l.yaml" />
  <rosparam command="load" ns="velma_core_cs/ColDetWrR" file="$(find velma_common)/config/wcc_r.yaml" />
  <rosparam command="load" ns="velma_core_cs" file="$(find velma_common)/config/joint_limits_cimp.yaml" />

  <group ns="velma_core_cs">
    <rosparam>
      RightForceTransformation:
        is_right_turn_frame: true
        tool_weight: 12.391
        gravity_arm_in_wrist:
          x: 0.0
          y: 0.0
          z: 0.08
        sensor_frame:
          orientation:
            w: 1.0
            x: 0.0
            y: 0.0
            z: 0.0
          position:
            x: 0.0
            y: 0.0
            z: 0.0
      LeftForceTransformation:
        is_right_turn_frame: true
        tool_weight: 12.391
        gravity_arm_in_wrist:
          x: 0.0
          y: 0.0
          z: 0.08
        sensor_frame:
          orientation:
            w: 1.0
            x: 0.0
            y: 0.0
            z: 0.0
          position:
            x: 0.0
            y: 0.0
            z: 0.0
      HeadIK:
        v_rot:  0.800
        v_lean: 0.375
        v_head: 0.392
        h_cam:  0.0
        v_cam:  0.225
      VL_hp:
        max_vel: 1.04
        timestep: 0.002
      VL_ht:
        max_vel: 1.04
        timestep: 0.002
      JntImp:
        initial_stiffness: [1200.01, 200.01, 200.01, 200.01, 200.01, 200.01, 200.01, 200.01, 200.01, 200.01, 200.01, 200.01, 200.01, 200.01, 200.01]
        damping: 0.5
      JntImpSafe:
        initial_stiffness: [5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0]
        damping: 1.9
      INT_tool_r:
        activate_pose_init: true
        init_setpoint:
          orientation:
            w: 1.0
            x: 0.0
            y: 0.0
            z: 0.0
          position:
            x: 0.0
            y: 0.0
            z: 0.0
        check_tolerances: false
      INT_tool_l:
        activate_pose_init: true
        init_setpoint:
          orientation:
            w: 1.0
            x: 0.0
            y: 0.0
            z: 0.0
          position:
            x: 0.0
            y: 0.0
            z: 0.0
        check_tolerances: false
      ColDet:
        activation_dist: 0.04
        joint_names: [torso_0_joint, right_arm_0_joint, right_arm_1_joint, right_arm_2_joint, right_arm_3_joint, right_arm_4_joint, right_arm_5_joint, right_arm_6_joint, left_arm_0_joint, left_arm_1_joint, left_arm_2_joint, left_arm_3_joint, left_arm_4_joint, left_arm_5_joint, left_arm_6_joint, head_pan_joint, head_tilt_joint, right_HandFingerOneKnuckleOneJoint, right_HandFingerOneKnuckleTwoJoint, right_HandFingerOneKnuckleThreeJoint, right_HandFingerTwoKnuckleOneJoint, right_HandFingerTwoKnuckleTwoJoint, right_HandFingerTwoKnuckleThreeJoint, right_HandFingerThreeKnuckleTwoJoint, right_HandFingerThreeKnuckleThreeJoint, left_HandFingerOneKnuckleOneJoint, left_HandFingerOneKnuckleTwoJoint, left_HandFingerOneKnuckleThreeJoint, left_HandFingerTwoKnuckleOneJoint, left_HandFingerTwoKnuckleTwoJoint, left_HandFingerTwoKnuckleThreeJoint, left_HandFingerThreeKnuckleTwoJoint, left_HandFingerThreeKnuckleThreeJoint ]
        articulated_joint_names: [torso_0_joint, right_arm_0_joint, right_arm_1_joint, right_arm_2_joint, right_arm_3_joint, right_arm_4_joint, right_arm_5_joint, right_arm_6_joint, left_arm_0_joint, left_arm_1_joint, left_arm_2_joint, left_arm_3_joint, left_arm_4_joint, left_arm_5_joint, left_arm_6_joint ]
      ColDetRep:
        activation_dist: 0.15
        joint_names: [torso_0_joint, right_arm_0_joint, right_arm_1_joint, right_arm_2_joint, right_arm_3_joint, right_arm_4_joint, right_arm_5_joint, right_arm_6_joint, left_arm_0_joint, left_arm_1_joint, left_arm_2_joint, left_arm_3_joint, left_arm_4_joint, left_arm_5_joint, left_arm_6_joint, head_pan_joint, head_tilt_joint, right_HandFingerOneKnuckleOneJoint, right_HandFingerOneKnuckleTwoJoint, right_HandFingerOneKnuckleThreeJoint, right_HandFingerTwoKnuckleOneJoint, right_HandFingerTwoKnuckleTwoJoint, right_HandFingerTwoKnuckleThreeJoint, right_HandFingerThreeKnuckleTwoJoint, right_HandFingerThreeKnuckleThreeJoint, left_HandFingerOneKnuckleOneJoint, left_HandFingerOneKnuckleTwoJoint, left_HandFingerOneKnuckleThreeJoint, left_HandFingerTwoKnuckleOneJoint, left_HandFingerTwoKnuckleTwoJoint, left_HandFingerTwoKnuckleThreeJoint, left_HandFingerThreeKnuckleTwoJoint, left_HandFingerThreeKnuckleThreeJoint ]
        articulated_joint_names: [torso_0_joint, right_arm_0_joint, right_arm_1_joint, right_arm_2_joint, right_arm_3_joint, right_arm_4_joint, right_arm_5_joint, right_arm_6_joint, left_arm_0_joint, left_arm_1_joint, left_arm_2_joint, left_arm_3_joint, left_arm_4_joint, left_arm_5_joint, left_arm_6_joint ]
        calculate_forces: true
        Fmax: 2
        damping_factors: [15, 10, 10, 5, 5, 2, 1, 1, 10, 10, 5, 5, 2, 1, 1]
      ColDetRepJntImp:
        activation_dist: 0.15
        joint_names: [torso_0_joint, right_arm_0_joint, right_arm_1_joint, right_arm_2_joint, right_arm_3_joint, right_arm_4_joint, right_arm_5_joint, right_arm_6_joint, left_arm_0_joint, left_arm_1_joint, left_arm_2_joint, left_arm_3_joint, left_arm_4_joint, left_arm_5_joint, left_arm_6_joint, head_pan_joint, head_tilt_joint, right_HandFingerOneKnuckleOneJoint, right_HandFingerOneKnuckleTwoJoint, right_HandFingerOneKnuckleThreeJoint, right_HandFingerTwoKnuckleOneJoint, right_HandFingerTwoKnuckleTwoJoint, right_HandFingerTwoKnuckleThreeJoint, right_HandFingerThreeKnuckleTwoJoint, right_HandFingerThreeKnuckleThreeJoint, left_HandFingerOneKnuckleOneJoint, left_HandFingerOneKnuckleTwoJoint, left_HandFingerOneKnuckleThreeJoint, left_HandFingerTwoKnuckleOneJoint, left_HandFingerTwoKnuckleTwoJoint, left_HandFingerTwoKnuckleThreeJoint, left_HandFingerThreeKnuckleTwoJoint, left_HandFingerThreeKnuckleThreeJoint ]
        articulated_joint_names: [torso_0_joint, right_arm_0_joint, right_arm_1_joint, right_arm_2_joint, right_arm_3_joint, right_arm_4_joint, right_arm_5_joint, right_arm_6_joint, left_arm_0_joint, left_arm_1_joint, left_arm_2_joint, left_arm_3_joint, left_arm_4_joint, left_arm_5_joint, left_arm_6_joint ]
        calculate_forces: true
        Fmax: 2
        damping_factors: [15, 10, 10, 5, 5, 2, 1, 1, 10, 10, 5, 5, 2, 1, 1]
      MassStatCtrl:
        articulated_joint_names: [torso_0_joint, right_arm_0_joint, right_arm_1_joint, right_arm_2_joint, right_arm_3_joint, right_arm_4_joint, right_arm_5_joint, right_arm_6_joint, left_arm_0_joint, left_arm_1_joint, left_arm_2_joint, left_arm_3_joint, left_arm_4_joint, left_arm_5_joint, left_arm_6_joint ]
        rightLWR_joint0_idx: 1
        leftLWR_joint0_idx: 8
      CImp:
        enable_rt_logging: false
        <!-- mass_of_the_object: 2.0 -->
<!--       MassDynCtrl:
        mass_of_the_object: 2.0     -->
    </rosparam>
  </group>
</launch>
