<?xml version="1.0"?>
<launch>
  <arg name="LOG_LEVEL" default="Info"/>
  <arg name="debug" default="false"/>
  <arg name="cset" default="false"/>

  <arg unless="$(arg cset)"  name="CSET_LAUNCH_PREFIX" value=""/>
  <arg     if="$(arg cset)"  name="CSET_LAUNCH_PREFIX" value="cset proc -s user -e --"/>

  <arg unless="$(arg debug)" name="LAUNCH_PREFIX" value=""/>
  <arg     if="$(arg debug)" name="LAUNCH_PREFIX" value="gdb -ex run --args "/>

  <node
    launch-prefix="$(arg CSET_LAUNCH_PREFIX) $(arg LAUNCH_PREFIX)"
    name="velma_sim"
    pkg="subsystem_deployer" type="deployer"
    args="-l $(arg LOG_LEVEL) -x $(find velma_sim)/config/velma_core_re.xml -m velma_sim -p 10 -c 1 --" output="screen">
<!--    <env name="LD_PRELOAD" value="librtt_malloc_hook.so" />-->
  </node>

  <param name="/robot_description"
    command="$(find xacro)/xacro.py '$(find velma_description)/robots/velma.urdf.xacro'" />
  <param name="/robot_semantic_description" command="$(find xacro)/xacro.py '$(find velma_description)/robots/velma.srdf'" />
<!--  
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="rob_st_pub" >
    <param name="use_tf_static" value="false"/>
  </node>
-->
  <param name="/use_sim_time" value="false" />

  <group ns="velma_sim">
    <rosparam>
      LWRrSim:
        name: right
        init_joint_names: [right_arm_0_joint, right_arm_1_joint, right_arm_2_joint, right_arm_3_joint, right_arm_4_joint, right_arm_5_joint, right_arm_6_joint]
        init_joint_positions: [0,-1.57,1.57,1.57,0,-1.57,0]
        tool:
          m: 1.2391
          com:
            x: 0.1749
            y: 0.0134
            z: -0.0781
          ixx: 0.1
          ixy: 0.0
          ixz: 0.0
          iyy: 0.1
          iyz: 0.0
          izz: 0.1
      LWRlSim:
        name: left
        init_joint_names: [left_arm_0_joint, left_arm_1_joint, left_arm_2_joint, left_arm_3_joint, left_arm_4_joint, left_arm_5_joint, left_arm_6_joint]
        init_joint_positions: [0,1.57,-1.57,-1.57,0,1.57,0]
        tool:
          m: 1.2391
          com:
            x: -0.1749
            y: 0.0134
            z: -0.0781
          ixx: 0.1
          ixy: 0.0
          ixz: 0.0
          iyy: 0.1
          iyz: 0.0
          izz: 0.1
      RightHand:
        prefix: right
        disable_component: false
        can_id_base: 11
      LeftHand:
        prefix: left
        disable_component: false
        can_id_base: 15
      RightHandTactile:
        prefix: right
      LeftHandOptoforce:
        device_name: gazebo_leftHand
        n_sensors: 3
        frame_id_vec: [left_HandFingerOneKnuckleThreeOptoforceBase, left_HandFingerTwoKnuckleThreeOptoforceBase, left_HandFingerThreeKnuckleThreeOptoforceBase]
      RightFtSensor:
        joint_name: rightFtSensorJoint
        transform_xyz: [0, 0, 0]
        transform_rpy: [0, 0, 0]
      LeftFtSensor:
        joint_name: leftFtSensorJoint
        transform_xyz: [0, 0, 0]
        transform_rpy: [0, 0, 0]
      safe:
        l_arm_damping_factors: [10, 10, 5, 5, 2, 1, 1]
        r_arm_damping_factors: [10, 10, 5, 5, 2, 1, 1]
        torso_damping_factor: 20
        arm_q_limits_lo: [-2.96, -2.09, -2.96, -2.09, -2.96, -2.09, -2.96]
        arm_q_limits_hi: [2.96, 2.09, 2.96, 2.09, 2.96, 2.09, 2.96]
        arm_dq_limits: [2, 2, 2, 2, 2, 2, 2]
        arm_t_limits: [100.0, 100.0, 100.0, 100.0, 100.0, 60.0, 60.0]
      can_queue_tx_r:
        invert_rx_tx: true
      can_queue_tx_l:
        invert_rx_tx: true
    </rosparam>
  </group>
</launch>
