<?xml version="1.0"?>
<launch>
    <param name="bm/behaviors" command="cat $(find velma_controller)/config/behaviors.yaml"/>
    <param name="bi/behaviors" command="cat $(find velma_controller)/config/behaviors.yaml"/>

    <rosparam>
      RightForceTransformation:
        is_right_turn_frame: true
        tool_weight: 12.391
        gravity_arm_in_wrist:
          x: 0.0
          y: 0.0
          z: 0.08
        sensor_frame:
          orientation:
            w: 1.0
            x: 0.0
            y: 0.0
            z: 0.0
          position:
            x: 0.0
            y: 0.0
            z: 0.0
      LeftForceTransformation:
        is_right_turn_frame: true
        tool_weight: 12.391
        gravity_arm_in_wrist:
          x: 0.0
          y: 0.0
          z: 0.08
        sensor_frame:
          orientation:
            w: 1.0
            x: 0.0
            y: 0.0
            z: 0.0
          position:
            x: 0.0
            y: 0.0
            z: 0.0
      rightHandMoveAction:
        prefix: right
      leftHandMoveAction:
        prefix: left
      LWRlDiag:
        prefix: left_arm_
      LWRrDiag:
        prefix: right_arm_
      HeadIK:
        v_rot:  0.800
        v_lean: 0.375
        v_head: 0.392
        h_cam:  0.0
        v_cam:  0.225
      TorsoPanTransmision:
        motor_offset: -88524
        joint_offset: 0.0
        gear: 158.0
        encoder_res: 20000.0
      TorsoPanTransmisionInv:
        motor_offset: -88524
        joint_offset: 0.0
        gear: 158.0
        encoder_res: 20000.0
        motor_constant: 0.00105
      HeadPanVelocityLimiter:
        max_vel: 50.0
      HeadTiltVelocityLimiter:
        max_vel: 50.0
      HeadPanTransmision:
        motor_offset: 0.0
        joint_offset: 0.0
        gear: -100.0
        encoder_res: 8000.0
      HeadPanTransmisionInv:
        motor_offset: 0.0
        joint_offset: 0.0
        gear: -100.0
        encoder_res: 8000.0
        motor_constant: 0.0
      HeadTiltTransmision:
        motor_offset: 0.0
        joint_offset: 0.0
        gear: 100.0
        encoder_res: 8000.0
      HeadTiltTransmisionInv:
        motor_offset: 0.0
        joint_offset: 0.0
        gear: 100.0
        encoder_res: 8000.0
        motor_constant: 0.0
      SplineTrajectoryActionJoint:
        joint_names: [torso_0_joint, right_arm_0_joint, right_arm_1_joint, right_arm_2_joint, right_arm_3_joint, right_arm_4_joint, right_arm_5_joint, right_arm_6_joint, left_arm_0_joint, left_arm_1_joint, left_arm_2_joint, left_arm_3_joint, left_arm_4_joint, left_arm_5_joint, left_arm_6_joint]
        lower_limits: [-2.0, -2.96, -2.09, -2.96, -2.09, -2.96, -2.09, -2.96, -2.96, -2.09, -2.96, -2.09, -2.96, -2.09, -2.96]
        upper_limits: [2.0, 2.96, 2.09, 2.96, 2.09, 2.96, 2.09, 2.96, 2.96, 2.09, 2.96, 2.09, 2.96, 2.09, 2.96]
      HeadSplineTrajectoryActionJoint:
        joint_names: [head_pan_joint, head_tilt_joint]
        lower_limits: [-1.57, -1]
        upper_limits: [1.57, 1]
      JntImp:
        initial_stiffness: [1200.01, 200.01, 200.01, 200.01, 200.01, 200.01, 200.01, 200.01, 200.01, 200.01, 200.01, 200.01, 200.01, 200.0, 200.01]
      JntLimit:
        upper_limit: [1.56, 2.96, 2.09, 2.96, 2.09, 2.96, 2.09, 2.96, 2.96, 2.09, 2.96, 2.09, 2.96, 2.09, 2.96]
        lower_limit: [-1.56, -2.96, -2.09, -2.96, -2.09, -2.96, -2.09, -2.96, -2.96, -2.09, -2.96, -2.09, -2.96, -2.09, -2.96]
        limit_range: [0.26, 0.26, 0.26, 0.26, 0.26, 0.26, 0.26, 0.26, 0.26, 0.26, 0.26, 0.26, 0.26, 0.26, 0.26]
        max_trq: [10.0, 10.0, 10.0, 10.0, 10.0, 10.0, 6.0, 6.0, 10.0, 10.0, 10.0, 10.0, 10.0, 6.0, 6.0]
      JntPub:
        joint_names: [torso_0_joint, right_arm_0_joint, right_arm_1_joint, right_arm_2_joint, right_arm_3_joint, right_arm_4_joint, right_arm_5_joint, right_arm_6_joint, left_arm_0_joint, left_arm_1_joint, left_arm_2_joint, left_arm_3_joint, left_arm_4_joint, left_arm_5_joint, left_arm_6_joint, head_pan_joint, head_tilt_joint, right_HandFingerOneKnuckleOneJoint, right_HandFingerOneKnuckleTwoJoint, right_HandFingerOneKnuckleThreeJoint, right_HandFingerTwoKnuckleOneJoint, right_HandFingerTwoKnuckleTwoJoint, right_HandFingerTwoKnuckleThreeJoint, right_HandFingerThreeKnuckleTwoJoint, right_HandFingerThreeKnuckleThreeJoint, left_HandFingerOneKnuckleOneJoint, left_HandFingerOneKnuckleTwoJoint, left_HandFingerOneKnuckleThreeJoint, left_HandFingerTwoKnuckleOneJoint, left_HandFingerTwoKnuckleTwoJoint, left_HandFingerTwoKnuckleThreeJoint, left_HandFingerThreeKnuckleTwoJoint, left_HandFingerThreeKnuckleThreeJoint ]
        constant_names: [leftFtSensorJoint, rightFtSensorJoint]
        constant_positions: [0, 0]
      PT:
        input_frames: 2
      ToolIntRight:
        activate_pose_init: true
        init_setpoint:
          orientation:
            w: 1.0
            x: 0.0
            y: 0.0
            z: 0.0
          position:
            x: 0.0
            y: 0.0
            z: 0.0
      ToolIntLeft:
        activate_pose_init: true
        init_setpoint:
          orientation:
            w: 1.0
            x: 0.0
            y: 0.0
            z: 0.0
          position:
            x: 0.0
            y: 0.0
            z: 0.0
      TfPub:
        frame_ids: [right_arm_7_link, left_arm_7_link, torso_base, torso_base, torso_base, torso_base]
        child_frame_ids: [right_arm_tool, left_arm_tool, right_arm_cmd, left_arm_cmd, right_arm_tool_measured, left_arm_tool_measured]
      core_ve_body_command_tx:
        channel_name: lli_cmd
      core_ve_body_status_rx:
        channel_name: lli_status
        event_port: true
        always_update_peers: false
    </rosparam>
</launch>
